Repository wooto/code-review-github-action: changes, and which pre-commit hooks are due for each by the changed paths.
All: tsc, jest-test

.pre-commit-config.yaml:

repos:
  # Pre-commit hooks for basic file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: debug-statements

  # TypeScript and JavaScript specific hooks
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.50.0
    hooks:
      - id: eslint
        files: \.(ts|js|tsx|jsx)$
        types: [file]
        additional_dependencies:
          - eslint@8.50.0
          - "@typescript-eslint/parser@6.21.0"
          - "@typescript-eslint/eslint-plugin@6.21.0"
        args: [--fix]

  # TypeScript compiler check
  - repo: local
    hooks:
      - id: tsc
        name: TypeScript compiler
        entry: nix develop --command tsc --noEmit
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

  # Jest testing
  - repo: local
    hooks:
      - id: jest-test
        name: Jest tests
        entry: nix develop --command npm test -- --passWithNoTests
        language: system
        files: \.(ts|tsx|js|jsx)$
        pass_filenames: false

  # Format check (if you add prettier later)
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        files: \.(ts|tsx|js|jsx|json|md|yml|yaml)$
        additional_dependencies:
          - prettier@3.0.3

feat: complete Task 8 - CI Coverage Threshold Validation
  .private-journal/2025-11-02/15-55-33-837580.embedding
  .private-journal/2025-11-02/15-55-33-837580.md
  CI_COVERAGE_FIX_PLAN_SUMMARY.md
  CI_COVERAGE_VALIDATION_REPORT.md
  CI_WORKFLOW_VALIDATION_SUMMARY.md
  COVERAGE_ANALYSIS.md
  NODEJS_VERSION_CONSISTENCY_ANALYSIS.md
  REMAINING_GAPS_AND_RECOMMENDATIONS.md
  __tests__/DiffProcessor.validation.enhanced.test.ts
  __tests__/DiffProcessor.validation.test.ts
  __tests__/version-safe-utils.test.ts
Due: tsc, jest-test

docs: add Task 8 completion summary
  TASK_8_COMPLETION_SUMMARY.md
Due: none

docs: add comprehensive CI coverage fix documentation
  .private-journal/2025-11-02/15-59-10-294932.embedding
  .private-journal/2025-11-02/15-59-10-294932.md
Due: none

fix: implement Task 2 CI coverage fixes with TDD methodology
  .github/workflows/ci.yml
  __tests__/index.test.ts
  __tests__/version-safe-utils.test.ts
  package-lock.json
  package.json
Due: tsc, jest-test

feat: add feature branch to CI trigger for testing
  .github/workflows/ci.yml
  dist/DiffProcessor.d.ts.map
  dist/DiffProcessor.js
  dist/DiffProcessor.js.map
Due: jest-test

chore: add comprehensive .gitignore to exclude node_modules and other build artifacts
  .gitignore
Due: none

fix: comprehensive CI fixes with subagent-driven approach
  .github/workflows/ci.yml
  __tests__/DiffProcessor.test.ts
  __tests__/direct-execution.test.ts
  __tests__/version-safe-utils.test.ts
  action.yml
  eslint.config.js
  package.json
  scripts/benchmark.js
  src/DiffProcessor.ts
  src/index.ts
  src/version-safe-utils.ts
  tsconfig.json
Due: tsc, jest-test

fix: update package-lock.json for dependency changes
  package-lock.json
Due: none

chore: remove unnecessary files from repository
  .private-journal/2025-11-02/15-55-33-837580.embedding
  .private-journal/2025-11-02/15-55-33-837580.md
  .private-journal/2025-11-02/15-59-10-294932.embedding
  .private-journal/2025-11-02/15-59-10-294932.md
  CI_COVERAGE_FIX_PLAN_SUMMARY.md
  CI_COVERAGE_VALIDATION_REPORT.md
  CI_WORKFLOW_VALIDATION_SUMMARY.md
  COVERAGE_ANALYSIS.md
  NODEJS_VERSION_CONSISTENCY_ANALYSIS.md
  REMAINING_GAPS_AND_RECOMMENDATIONS.md
  TASK_8_COMPLETION_SUMMARY.md
  dist/DiffProcessor.d.ts
  dist/DiffProcessor.d.ts.map
  dist/DiffProcessor.js
  dist/DiffProcessor.js.map
  dist/index.d.ts
  dist/index.d.ts.map
  dist/index.js
  dist/index.js.map
  dist/version-safe-utils.d.ts
  dist/version-safe-utils.d.ts.map
  dist/version-safe-utils.js
  dist/version-safe-utils.js.map
Due: tsc, jest-test

chore: update .gitignore and clean up repository
  .gitignore
  __tests__/version-safe-utils.test.ts
  scripts/benchmark.js
Due: tsc, jest-test

feat: apply comprehensive CI fixes to main branch
  .github/workflows/ci.yml
  package-lock.json
  package.json
  scripts/benchmark.js
Due: jest-test

fix: resolve CI build failures with npm ci and TypeScript fixes
  .github/workflows/code-review.yml
  src/github/GitHubClient.ts
Due: tsc, jest-test

fix: resolve CI dependency cache issues with cache-dependency-path
  .github/workflows/ci.yml
Due: none

fix: add cache-dependency-path to resolve CI dependency issues
  .github/scripts/run-action-test.sh
  .github/scripts/setup-test-scenarios.sh
  .github/test-config/test-scenarios.json
  .github/workflows/action-test.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  PRE_COMMIT.md
  __tests__/DiffProcessor.test.ts
  __tests__/direct-execution.test.ts
  docs/images/coverage-badge.svg
  docs/plans/2025-01-02-github-action-ci-testing-design.md
  eslint.config.js
  flake.lock
  flake.nix
  package-lock.json
Due: tsc, jest-test

fix: enable CI for feature/ci-improvements-main branch
  .github/workflows/ci.yml
Due: none

fix: add cache-dependency-path to resolve CI dependency issues
  .github/workflows/ci.yml
Due: none

fix: enable CI for all pull requests
  .github/workflows/ci.yml
Due: none

feat: apply comprehensive CI fixes to main branch
  .eslintrc.js
  scripts/benchmark.js
Due: jest-test

fix: optimize CI metrics and configuration
  .github/workflows/ci.yml
  jest.config.js
  package.json
Due: jest-test

chore: update package-lock.json with new dependencies
  package-lock.json
Due: none

fix: use correct @actions/github API with getOctokit function
  src/github/GitHubClient.ts
Due: tsc, jest-test

feat: comprehensive CI fixes with subagent-driven approach
  .github/workflows/ci.yml
  .github/workflows/test.yml
  eslint.config.js
  package.json
  src/__tests__/integration/errorHandling.test.ts
  src/__tests__/mocks/mockGitHubHelpers.ts
  src/__tests__/mocks/mockProviderHelpers.ts
  src/index.ts
Due: tsc, jest-test

fix: add build step to code-review workflow to resolve missing dist/index.js error
  .github/workflows/code-review.yml
Due: none

fix: resolve all ESLint errors causing CI failures
  src/__tests__/integration/action.test.ts
  src/__tests__/integration/errorHandling.test.ts
  src/__tests__/mocks/mockGitHubHelpers.ts
  src/__tests__/mocks/mockProviderHelpers.ts
  src/__tests__/scenarios/reviewScenarioDefinitions.ts
  src/index.ts
  src/providers/claude/ClaudeProvider.ts
  src/providers/gemini/GeminiProvider.ts
  src/providers/openai/OpenAIProvider.ts
Due: tsc, jest-test

optimize: streamline CI workflow by removing redundant metrics and artifacts
  .github/workflows/ci.yml
Due: none

fix: remove unused apiKeyInputs variable causing ESLint error
  src/index.ts
Due: tsc, jest-test

fix: correct typo in .gitignore for private-journal directory
  .gitignore
Due: none

test: update test files for CI improvements
  __tests__/direct-execution.test.ts
  __tests__/github/GitHubClient.test.ts
  __tests__/index.test.ts
  __tests__/integration.test.ts
Due: tsc, jest-test

add: reproduction scripts for CI failure debugging
  reproduce-sarif-failure.sh
  reproduce-timeout-failure.sh
Due: none

chore: cleanup temporary files and update CI workflow
  .github/workflows/test.yml
Due: none

test: update test setup configuration
  src/__tests__/setup.ts
Due: tsc, jest-test

ci: upgrade Node.js version from 20.x to 22.x
  .github/workflows/ci.yml
Due: none

fix: resolve SARIF action error and optimize test timeouts
  node_modules/.package-lock.json
Due: none

fix: resolve all integration test failures with comprehensive mock fixes
  __tests__/integration.test.ts
  src/index.ts
Due: tsc, jest-test

fix: resolve action input handling and configure Gemini integration
  .github/workflows/action-test.yml
  .github/workflows/code-review.yml
  action.yml
Due: none

fix: add defensive input handling for github-token and providers
  reproduce-error.js
  run-local.sh
  src/index.ts
  test-inputs.js
Due: tsc, jest-test
